<%= form_for @c, remote:true do |form| %>
  <%= hidden_field_tag "comment[id]", "#{@post.id}" %>

  <div class="field">
  
    <%= form.text_area :content %>
  </div>


  <div>
    <%= form.submit %>
  </div>

<% end %>
